.error {color: #FF0000;}

* {
    box-sizing: border-box;
  }
  
.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.text {
    /*width: 100%;
    background-image: url("background.jpeg");
    padding: 200px 0px 200px 0px;*/
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }


.navbar {
  overflow: hidden;
  background-color: #333; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500; /*To not show text in front of the nav bar*/
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
    
hr.styleHr {
  left: 0;
  border: 5px solid #333;
  border-radius: 1px;
}

hr.styleHrFooter {
  left: 0;
  border: 2px solid #333;
  border-radius: 1px;
}

h1{
  color: #333;
}

p{
  padding: 1% 3% 0% 3%;
}

/*For responsive image grid*/
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/*For the responsive form*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.select1{
  margin-bottom: 12px;
}

.select2{
  margin-bottom: 5px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #333;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

input[type=submit]:hover {
  background-color: #333;
}

.container_form {
  border-radius: 5px;
  /*background-color: #f2f2f2;*/
  padding: 1% 25% 0% 3%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row_form:after {
  content: "";
  display: table;
  clear: both;
}

.column_about {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

#dateTime{
  border-radius: 5px;
  padding: 7px;
}

/* Clear floats after the columns */
.row_about:after {
  content: "";
  display: table;
  clear: both;
}

.center_bio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
  }

  .column_about {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
  }

  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
}

  .centered{
    font-size: 30px;
  }

  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

}

/*About the Bio*/
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { margin: 1% 0 1% 0%;}
  .span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%; 
	}
}

/*For icons*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

footer{
  text-align: center;
}

.letter_color{
  color: #333;
}

/*Use of external fonts*/
@font-face {
  font-family: "Kimberley";
  src: url(http://www.princexml.com/fonts/larabie/kimberle.ttf) format("truetype");
}
b { font-family: "Kimberley", sans-serif;
font-size: 20px;}